* {
    box-sizing: border-box;
}
a { color: #777; text-decoration: none;}
a:hover { color: #555; text-decoration: none;}
li { color: #036DA7; list-style-type: none; margin-bottom: 6px; }
#header { height: 80px; background: #222; margin: 0 0 10px 0;}
#header a { color: #fff; text-decoration: none;}
#header h1 {color: #fff; font-size: 2em; padding: 20px 0 0 20px; font-weight: 100;}
#header h2 {color: #eee; font-size: 1.2em; padding: 0 0 0 20px; font-weight: 100;}
#headerlinks {float: right; padding: 30px 20px 0 0;}
#headerlinks a {color:#fff; padding: 0 10px;}
#headerlinks a:hover {color:#fff;}
#sidebar { width: 610px; float: right; background: #FFF; color: #666; margin-right: 20px; }
#sidebar .box { margin-bottom: 10px; padding: 10px 3px; color: #666; }
#sidebar h2 { font-size: 1.2em; font-weight: 100; padding: 3px; }
#content { margin-left: 20px; margin-right: 250px; text-align: justify; color: #777; background-color: #857bee}
#content h2 { color: #555; font-size: 2.4em; font-weight: 300;}
#content p { margin: 10px 0 20px 0; line-height: 25px;}
#footer { clear: both; color: #eee; background: #222; text-align: left; margin: 20px 0px 0px 0px; padding: 25px 20px; font-size: .9em; }
#footer a { color : #ddd; text-decoration: none; }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}



input[type="submit"], input[type="reset"]{
    display: inline;
    float: nonee;
    height: 40px;
    width: 100px;

    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 20px; /* Some padding */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #45a049;
}

form p{
    text-align: center;
}

.container {
    border-radius: 5px;
    background-color: #acbff2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
